%p#notice= notice

%p
  %b Name:
  = @user.name

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
%h3
  = @user.name + ' Tasks'
%ul.list-group
-@user.tasks.each do |task|
  %li.list-group-item
    .row
      =task.name
      .glyphicon.glyphicon-pencil
        = link_to 'Edit', edit_task_path(task)

