!!!
%html{"ng-app" => "taskApp"}
  %head
    %title TaskTracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.container
    .panel.panel-default.well.well-lg
      %h3
        %ul.nav.nav-pills{'ng-controller' => 'MainController as controller'}
          %li{:class => (params[:controller] == 'dashboard' ? 'active' : '')}
            %a{ 'ng-click'=>"goto('#{root_path}')" ,'href' => '#' }
              Dashboard
          %li{:class => (params[:controller] == 'tasks' && params[:action] == 'new' ? 'active' : '')}
            %a{ 'ng-click'=>"goto('#{new_task_path}')" ,'href' => '#'   }
              Add new task
          %li{:class => (params[:controller] == 'users'  && params[:action] == 'new'  ? 'active' : '')}
            %a{ 'ng-click'=>"goto('#{new_user_path}')" ,'href' => '#'   }
              Add new user
          %li{:class => (params[:controller] == 'users'  && params[:action] == 'index' ? 'active' : '')}
            %a{ 'ng-click'=>"goto('#{users_path}')"  ,'href' => '#'  }
              Users
          %li{:class => (params[:controller] == 'tasks'  && params[:action] == 'index' ? 'active' : '')}
            %a{ 'ng-click'=>"goto('#{tasks_path}')"  ,'href' => '#' }
              Tasks
    = yield